td {
  width: inherit;
  height: 121px;
}

body {
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?auto=format&fit=crop&w=1262&q=80");
}
